@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --opaque-black: 40 40 40;
  }
}

*,
::before,
::after {
  @apply font-raleway box-border p-0 m-0;
}

/* common */
body {
  @apply bg-city-hall bg-no-repeat bg-cover;
}

textarea {
  resize: none;
  scrollbar-width: none;
}
