@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --opaque-black: 40 40 40;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

*,
::before,
::after {
  @apply font-raleway box-border p-0 m-0;
}

/* common */
body {
  @apply bg-city-hall bg-no-repeat bg-cover bg-fixed;
}

textarea {
  resize: none;
  scrollbar-width: none;
}

