@tailwind base;
@tailwind components;
@tailwind utilities;

#security {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    @apply dark:text-white;
  }

  h1 {
    font-size: 2em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.8em;
  }

  a {
    @apply text-primary dark:text-secondary font-semibold;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
  }

  li {
    margin-bottom: 10px;
  }
}
